.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.showContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.home img {
  height: 100px;
  width: 300px;
  object-fit: cover;
  object-position: center;
  border: 0.3rem solid transparent;
}

.skillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.buttonContainer button {
  width: 5rem;
  height: 2rem;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 4rem;
}
