.card {
  min-height: 100%;
  width: clamp(150px, 45%, 225px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 1rem;
  text-align: center;
  border: black 3px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.card .characterImage {
  border: 3px black solid;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  width: 100px;
  height: 125px;
  background-color: maroon;
  animation: blurIn 0.5s ease-in-out forwards;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 50px;
  animation: blurIn 0.5s ease-in-out forwards;
}

.card p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  word-break: break-word;
}

@media (min-width: 768px) {
  .card .characterImage {
    width: 150px;
    height: 200px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

.card.blur .characterImage,
.card.blur .nameContainer {
  animation: blurOut 0.5s ease-in forwards;
}

@keyframes blurOut {
  0% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
