.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin: 10px 0 0 0;
}

.header p {
  font-size: 1.2rem;
  margin: 10px 0 15px 0;
}

.header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header > div:first-child {
  margin: 0 0 0 10px;
  align-items: flex-start;
}

.header > div:nth-child(2) {
  align-items: flex-end;
  margin: 0 10px 0 0;
}
