.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.header h1 {
  margin: 10px 0 0 0;
}

.header p {
  font-size: 2.5rem;
  margin: 10px 0 15px 0;
  font-weight: 700;
  width: 12rem;
}

.header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  width: 6rem;
  font-size: 1.3rem;
}

.header > div:first-child {
  margin: 0 0 0 10px;
  align-items: flex-start;
}

.header > div:nth-child(2) {
  align-items: flex-end;
  margin: 0 10px 0 0;
}

@media (min-width: 768px) {
  .header p {
    width: auto;
  }

  @media (min-width: 1024px) {
    html {
      font-size: 18px;
    }
  }
}
