@font-face {
  font-family: 'Montserrat';
  src:
    url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family:
    'Montserrat',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.base {
  --dark-blue: #1b262c;
  --navy: #0f4c75;
  --blue: #3282b8;
  --light-blue: #bbe1fa;
  --white: #ffffff;
  --white-smoke: #f5f5f5;
}

.the-wire {
  --near-black: #0a0b0d;
  --dark-slate: #1e2029;
  --slate-blue: #2d3142;
  --cool-gray: #4f5565;
  --ghost-white: #f8f9fa;
}

.breaking-bad {
  --forest-green: #547a52;
  --sand: #e3c8a3;
  --slate-blue: #1c4670;
  --dusty-yellow: #bfa13a;
  --charcoal-black: #2e2e2e;
  --light-gray: #f1f1f1;
}

body.base {
  background-color: var(--white);
  color: var(--dark-blue);
}

.base header,
.base footer {
  background-color: var(--navy);
  color: var(--white);
}

.base header a {
  background-color: var(--blue);
  color: var(--white);
  border-color: var(--dark-blue);
}

.base .homeButtonContainer button {
  background-color: var(--navy);
  border-color: var(--dark-blue);
  color: var(--white);
}

.base .play {
  background-color: var(--blue);
  border-color: var(--dark-blue);
  color: var(--white);
}

.homeButtonContainer .selected {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.base .homeButtonContainer .selected {
  border-color: white;
}

/* the wire  */

.the-wire .homeButtonContainer button.selected {
  border-color: var(--blue);
}

body.the-wire {
  background-color: var(--ghost-white);
  color: var(--near-black);
}

.the-wire header,
.the-wire footer {
  background-color: var(--dark-slate);
  color: var(--ghost-white);
}

.the-wire header a {
  background-color: var(--cool-gray);
  color: var(--white);
  border-color: var(--dark-blue);
}

.the-wire .homeButtonContainer button {
  background-color: var(--cool-gray);
  border-color: var(--near-black);
  color: var(--ghost-white);
}

.the-wire .homeButtonContainer button.selected {
  border-color: var(--forest-green);
}

.the-wire .play {
  background-color: var(--ghost-white);
  border-color: var(--dark-slate);
  color: var(--near-black);
}

.the-wire .card {
  background-color: var(--cool-gray);
  color: var(--ghost-white);
}

html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  min-height: 100vh;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a,
button {
  border: 3px solid;
  border-radius: 0.5rem;
  padding: 0.3rem;
  width: 3rem;
  height: 3rem;
}

header,
footer {
  min-height: 4rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}
